// :root {
//   --contentwidth: 1200px;
// }

$contentwidth: 900px;

.parent-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.main-div {
  width: 100%;
  max-width: $contentwidth;
  justify-content: center;
}

[appSliderItem] {
  flex-shrink: 0;
}

.panel {
  width: $contentwidth;
  height: 75vh;

  h3 {
    font-size: 24px;
    text-align: center;
  }
}

// .panel h3 {
//   font-size: 24px;
//   position: absolute;
//   bottom: 20px;
//   left: 20px;
//   margin: 0;
//   opacity: 0;
// }

// .panel.active h3 {
//   opacity: 1;
//   transition: opacity 0.3s ease-in 0.4s;
// }
