
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav
        mode="side"
        [ngStyle]="{ 'width.em': sidenavWidth }"
        (mouseenter)="increase()"
        (mouseleave)="decrease()"
        [class.mat-elevation-z2]=true opened>

        <mat-nav-list (click)="customClick()">

            <a mat-list-item routerLink="/">
                <mat-icon>library_books</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <span>Courses</span>
                </div>
            </a>

            <a mat-list-item routerLink="about">
                <mat-icon>question_answer</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <span>About</span>
                </div>
            </a>

            <a mat-list-item routerLink="drag-drop-example">
                <mat-icon>drag_indicator</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <span>Drag and Drop</span>
                </div>
            </a>

            <a mat-list-item routerLink="tree-demo">
                <mat-icon>park</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <span>Tree Demo</span>
                </div>
            </a>

            <a mat-list-item routerLink="virtual-scrolling">
                <mat-icon>import_export</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <span>Virtual Scrolling</span>
                </div>
            </a>

            <a mat-list-item>
                <mat-icon>person_add</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <span>Register</span>
                </div>
            </a>

            <a mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <span>Login</span>
                </div>
            </a>

        </mat-nav-list>

    </mat-sidenav>


    <mat-sidenav-content>
      <mat-toolbar class="myheader" color="primary" [class.mat-elevation-z8]=true>

        <button mat-icon-button (click)="sidenav.toggle()" style="margin-left: -10px;">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

        <a mat-button [matMenuTriggerFor]="dropdown">
            Screens
        </a>

        <mat-menu #dropdown>

            <button mat-menu-item routerLink="/">Courses</button>

            <button mat-menu-item routerLink="/about">About</button>

        </mat-menu>


        <a mat-button>
            <mat-icon>person_add</mat-icon>
            Register
        </a>

        <a mat-button>
            <mat-icon>account_circle</mat-icon>
            Login
        </a>

    </mat-toolbar>
    <div class="content" style="overflow-y: auto;">
      <router-outlet ></router-outlet>
    </div>
    </mat-sidenav-content>

</mat-sidenav-container>
