
body {
    margin: 0;
}

main {
    margin: 30px;
}

/* .sidenav-container {
  z-index: -1 !important;
} */

mat-toolbar a {
  color: white;
}

.myheader {
  position: sticky;
  z-index: 9999;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #16b51e;
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mat-snack-bar-button-color:  #fff;
  margin-right: 25px !important;
}

.mat-simple-snackbar {
  justify-content: center !important;
}

.cdk-overlay-pane {
  margin-bottom: calc(50vh - 50px)!important;
}
